.container {
    width: 100%;
    height: auto;
    margin-top: 200px !important;
}
.article-title {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: snow;
    display: flex;
    align-items: center;
    gap: 10px; /* 控制按鈕與標題的間距 */
}

.article-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: whitesmoke;
}

.article-block {
    box-shadow: 0 0 10px 5px;
    padding: 25px 50px 75px 100px;
}

.article-border {
    padding: 15px;
    border-radius: 5px;
    background-color: #3734342c;
    margin-left: 10px;
}

.comment-section {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.article-row-1 {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 4px;
}

.article-row-2 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 500px;
    padding: 15px;
}

.member-block {
    position: sticky;
    top: 20px;
    height: fit-content;
}

.further-reading-block {
    box-shadow: 0 0 10px 5px;
    padding: 25px 50px 75px 100px;
}

.further-article-block {
    height: 300px;
}

.further-article-img-block {
    overflow: hidden;
    border-radius: 8px;
    height: 250px;
    width: 250px;
}

.button-return {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button-return:hover {
        background-color: lightseagreen;
    }