.articleText {
    width: 100px;
    background: azure;
    font-size: 20px;
    font-weight:700;
}

.myContainer {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
}

.toolbar-container{
    background-color: azure;
    margin-top: 5px;
}


.editorBlock{
    height: 500px;
    background-color: azure;
}

.selectArticleType {
    width: 250px;
}