input[type="file"] {
    display: none;
}

.imgFile-border {
    border: 1px solid #ccc;
}

.myContainer {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
}

.toolbar-container{
    background-color: azure;
    margin-top: 5px;
}


.editorBlock{
    height: 500px;  
    background-color: azure;
}

.selectArticleType {
    width: 250px;
}

#hiddenContent{
    display: none;
}

#imgFileBlock {
    visibility: hidden;
}

#ql-font {
    width: 150px;
}

#imageModal, #videoModal, #LinkModal {
    width: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

#previewImg {
    height: 200px;
    width: 500px;
    margin-top: 10px;
    object-fit: cover;
}