@{
	Layout = "_LayoutTes";
}

<h1>文章編輯</h1>
<div class="container myContainer">
	<form id="editorForm" method="post" action="/ArticleEdit/SaveContent">
		<div class="row p-1">
			<label for="type">
				<h5>文章分類: </h5>
				<select name="type" class="selectArticleType">
					<option>AA</option>
					<option>AA</option>
					<option>AA</option>
					<option>AA</option>
				</select>
			</label>
		</div>
		<div class="row p-1">
			<label for="title">
				<h5>文章標題: </h5>
				<input type="text" name="title" class="w-100" />
			</label>
		</div>
		<div id="toolbar-container" class="toolbar-container">
			<span class="ql-formats">
				<select class="ql-header">
					<option selected>文字</option>
					<option value="2">小標題</option>
					<option value="1">大標題</option>
				</select>
			</span>
			<span class="ql-formats">
				<select class="ql-font" id="ql-font">
					<option selected></option>
					<option value="Arial">Arial</option>
					<option value="Helvetica">Helvetica</option>
					<option value="Verdana">Verdana</option>
					<option value="Times-New-Roman">Times New Roman</option>
					<option value="Georgia">Georgia</option>
					<option value="Courier-New">Courier New</option>
					<option value="Comic-Sans-MS">Comic Sans MS</option>
					<option value="Microsoft-JhengHei">微軟正黑體</option>
					<option value="PingFang-TC">蘋方體</option>
					<option value="DFKai-SB">標楷體</option>
					<option value="PMingLiU">新細明體</option>
					<option value="MingLiU">細明體</option>
				</select>
			</span>
			<span class="ql-formats">
				<select class="ql-size">
					<option value="small">小</option>
					<option selected>一般</option>
					<option value="large">大</option>
					<option value="huge">更大</option>
				</select>
			</span>
			<span class="ql-formats">
				<button class="ql-bold"></button>
				<button class="ql-italic"></button>
				<button class="ql-underline"></button>
				<button class="ql-strike"></button>
				<button class="ql-script" value="sub"></button>
				<button class="ql-script" value="super"></button>
			</span>
			<span class="ql-formats">
				<select class="ql-color"></select>
				<select class="ql-background"></select>
			</span>
			<span class="ql-formats">
				<button class="ql-blockquote"></button>
				<button class="ql-code-block"></button>
				<button class="ql-hr">
					<span>
						<svg width="18" height="18" viewBox="0 0 18 18">
							<line class="ql-stroke" x1="3" y1="9" x2="15" y2="9" stroke-width="2" stroke-linecap="round"></line>
						</svg>
					</span>
				</button>
			</span>
			<span class="ql-formats">
				<button class="ql-list" value="ordered"></button>
				<button class="ql-list" value="bullet"></button>

			</span>
			<span class="ql-formats">
				<button class="ql-indent" value="-1"></button>
				<button class="ql-indent" value="+1"></button>
				<select class="ql-align"></select>
			</span>
			<span class="ql-formats">
				<button class="ql-link"></button>
				<button class="ql-image"></button>
				<button class="ql-video"></button>
			</span>
			<span class="ql-formats">
				<button class="ql-clean"></button>
			</span>
		</div>
		<div id="editor" class="editorBlock"></div>
		<textarea id="hiddenContent" name="content"></textarea>
		<div>
			<label for="imgFile">
				<div class="imgFile-border">
					<svg width="100" height="100" viewBox="0 0 100 100">
						<!-- 水平線 -->
						<line x1="20" y1="50" x2="80" y2="50" stroke="black" stroke-width="5" />
						<!-- 垂直線 -->
						<line x1="50" y1="20" x2="50" y2="80" stroke="black" stroke-width="5" />
					</svg>
				</div>
				<h5 class="m-1">上傳封面</h5>
			</label>
			<input type="file" id="imgFile" accept="image/gif, image/jpeg, image/png" />
		</div>
		<div class="m-2">
			<button type="button" class="btn btn-outline-dark" onclick="">儲存草稿</button>
			<button type="button" class="btn btn-outline-dark" onclick="submitForm()">發表文章</button>
		</div>
		<div id="imgFileBlock">
			<h5>圖片顯示: </h5>
			<img id="previewImg" style="width: 500px; margin-top: 10px;" />
		</div>
	</form>
</div>
<div class="container" id="imageModal">
	<div class="row">
		<input type="text" id="imageUrl" placeholder="請輸入圖片網址">
	</div>
	<div class="row">
		<button class="btn btn-outline-primary" id="uploadImage">上傳</button>
		<button class="btn btn-outline-primary" id="closeModal">關閉</button>
	</div>
</div>

<!-- Quill JS -->
<script src="~/lib/quill/quill.js"></script>
<script>
	let Font = Quill.import("formats/font");
	// 定義字體
	Font.whitelist = ["Arial", "Helvetica", "Verdana", "Times-New-Roman", "Georgia", "Courier-New", "Comic-Sans-MS",
					"Microsoft-JhengHei", "PingFang-TC", "DFKai-SB", "PMingLiU", "MingLiU"];
	Quill.register(Font, true);


	// 加入字體
	const style = document.createElement("style");
	style.innerHTML = `
	  .ql-font-Arial { font-family: "Arial"}
	  .ql-font-Helvetica { font-family: "Helvetica"}
	  .ql-font-Verdana { font-family: "Verdana"}
	  .ql-font-Times-New-Roman { font-family: "Times New Roman"}
	  .ql-font-Georgia { font-family: "Georgia"}
	  .ql-font-Courier-New { font-family: "Courier New"}
	  .ql-font-Comic-Sans-MS { font-family: "Comic Sans MS"}
	  .ql-font-Microsoft-JhengHei { font-family: "Microsoft JhengHei"}
	  .ql-font-PingFang-TC { font-family: "PingFang TC"}
	  .ql-font-DFKai-SB { font-family: "DFKai-SB"}
	  .ql-font-PMingLiU { font-family: "PMingLiU"}
	  .ql-font-MingLiU { font-family: "MingLiU"}
	`;
	document.head.appendChild(style);


	// 加入水平線(開始)
	let BlockEmbed = Quill.import("blots/block/embed");

	class HrBlot extends BlockEmbed {
		static create() {
			let node = document.createElement("hr");
			// node.setAttribute('style', "height:0px; margin-top:10px; margin-bottom:10px;");
			return node;
		}
	}
	HrBlot.blotName = "hr";
	// Hr.className = 'my-hr';
	HrBlot.tagName = "hr";
	Quill.register(HrBlot);

	function hrHandler() {
		let range = this.quill.getSelection();
		if (range) {
			this.quill.insertEmbed(range.index, "hr", true);
			this.quill.setSelection(range.index + 1, Quill.sources.SILENT);
		}
	}
	// 加入水平線(結束)

	function imageHandler() {
		let modal = document.getElementById("imageModal");
		modal.style.display = "block";

		let input = document.getElementById("imageInput");
		let uploadButton = document.getElementById("uploadImage");
		let closeButton = document.getElementById("closeModal");

		uploadButton.onclick = function() {
			var imageUrl = document.getElementById("imageUrl").value;
			if (imageUrl) {
				var range = quill.getSelection();
				quill.insertEmbed(range.index, "image", imageUrl);
			}
			closeModal(); 
		};

		closeButton.onclick = function closeModal() {
			modal.style.display = "none";
			input.value = "";
		};
	}

	document.getElementById('imgFile').addEventListener('change', function(event) {
		const file = event.target.files[0]; // 取得選擇的檔案
			if (file) {
				const reader = new FileReader();
				reader.onload = function(e) {
					const previewImg = document.getElementById('previewImg');
					previewImg.src = e.target.result;
					imgFileBlock.style.display = 'block';
				};
				reader.readAsDataURL(file); // 讀取檔案內容並轉為 Base64
			}
	});

	let quill = new Quill("#editor", {
		theme: "snow",
		modules: {
			toolbar: {
				container: "#toolbar-container",
				handlers: {
					image: imageHandler,
					hr: hrHandler,
					link: function(value) {
						if (value) {
						// 使用自訂的提示文字，改成中文例如「請輸入連結網址」
						var href = prompt("請輸入連結網址", "http://");
						if (href) {
							let range = this.quill.getSelection();
							this.quill.format("link", href);
						}
						} else {
						this.quill.format("link", false);
						}
					},
				}
			}
		}
	});


	// 提交表單時，把 Quill 內容轉換成 HTML 放入 textarea
	function submitForm() {
	  document.getElementById("hiddenContent").value = quill.root.innerHTML;
	  document.forms["editorForm"].submit();
	}
</script>