

.myContainer {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
    height: 843px;
}

.toolbar-container {
    background-color: azure;
    margin-top: 5px;
}


.editorBlock {
    height: 500px;
    background-color: azure;
}

.selectArticleType {
    width: 250px;
}