<link rel="stylesheet" href="~/lib/quill/quill.snow.css">

<h1>文章編輯</h1>
<div class="myContainer">
	<form id="editorForm" method="post" enctype="multipart/form-data" asp-action="ReplyArticle">
		@Html.AntiForgeryToken()
		<input type="hidden" name="articleGroupId" value="@ViewBag.ArticleGroupId" />
		<div id="toolbar-container" class="toolbar-container">
			<span class="ql-formats">
				<select class="ql-header">
					<option selected>文字</option>
					<option value="2">小標題</option>
					<option value="1">大標題</option>
				</select>
			</span>
			<span class="ql-formats">
				<select class="ql-font" id="ql-font">
					<option selected></option>
					<option value="Arial">Arial</option>
					<option value="Helvetica">Helvetica</option>
					<option value="Verdana">Verdana</option>
					<option value="Times-New-Roman">Times New Roman</option>
					<option value="Georgia">Georgia</option>
					<option value="Courier-New">Courier New</option>
					<option value="Comic-Sans-MS">Comic Sans MS</option>
					<option value="Microsoft-JhengHei">微軟正黑體</option>
					<option value="PingFang-TC">蘋方體</option>
					<option value="DFKai-SB">標楷體</option>
					<option value="PMingLiU">新細明體</option>
					<option value="MingLiU">細明體</option>
				</select>
			</span>
			<span class="ql-formats">
				<select class="ql-size">
					<option value="small">小</option>
					<option selected>一般</option>
					<option value="large">大</option>
					<option value="huge">更大</option>
				</select>
			</span>
			<span class="ql-formats">
				<button class="ql-bold"></button>
				<button class="ql-italic"></button>
				<button class="ql-underline"></button>
				<button class="ql-strike"></button>
				<button class="ql-script" value="sub"></button>
				<button class="ql-script" value="super"></button>
			</span>
			<span class="ql-formats">
				<select class="ql-color"></select>
				<select class="ql-background"></select>
			</span>
			<span class="ql-formats">
				<button class="ql-blockquote"></button>
				<button class="ql-code-block"></button>
				<button class="ql-hr">
					<span>
						<svg width="18" height="18" viewBox="0 0 18 18">
							<line class="ql-stroke" x1="3" y1="9" x2="15" y2="9" stroke-width="2" stroke-linecap="round"></line>
						</svg>
					</span>
				</button>
			</span>
			<span class="ql-formats">
				<button class="ql-list" value="ordered"></button>
				<button class="ql-list" value="bullet"></button>

			</span>
			<span class="ql-formats">
				<button class="ql-indent" value="-1"></button>
				<button class="ql-indent" value="+1"></button>
				<select class="ql-align"></select>
			</span>
			<span class="ql-formats">
				<button class="ql-link"></button>
				<button class="ql-image"></button>
				<button class="ql-video"></button>
			</span>
			<span class="ql-formats">
				<button id="undo-button" type="button">
					<svg width="18" height="18" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 18 18">
						<path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
					</svg>
				</button>
				<button id="redo-button" type="button">
					<svg width="18" height="18" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 18 18">
						<g transform="scale(-1,1) translate(-18,0)">
							<path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
						</g>
					</svg>
				</button>
			</span>
			<span class="ql-formats">
				<button class="ql-clean"></button>
			</span>
		</div>
		<div id="editor" class="editorBlock"></div>
		<textarea id="hiddenContent" name="articleContent"></textarea>
		<div class="row d-flex align-items-center">
			<div class="col-8 d-flex align-items-center" id="imgFileBlock">
				<h5 class="me-3">圖片顯示: </h5>
				<img id="previewImg" class="ms-auto me-auto" />
			</div>
			<div class="col-1">
				<input type="hidden" id="imgFile" class="form-control mt-2" accept="image/gif, image/jpeg, image/png" />
			</div>
			<div class="col-3 text-end">
				<button type="submit" class="btn btn-outline-success w-100 mb-2">儲存草稿</button>
				<button type="submit" class="btn btn-outline-primary w-100">發表文章</button>
			</div>
		</div>
	</form>
</div>

<div class="container p-4 shadow-lg rounded-3 bg-white" id="LinkModal">
	<h4 class="text-center mb-3">插入連結</h4>
	<div class="row mb-3">
		<div class="col-12">
			<label class="mb-1">顯示文字：</label>
			<input type="text" id="linkText" class="form-control" placeholder="請輸入顯示文字">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<label class="mb-1">連結網址：</label>
			<input type="text" id="linkUrl" class="form-control" placeholder="請輸入連結網址">
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-primary w-100" id="insertLink">確定</button>
		</div>
		<div class="col-6">
			<button class="btn btn-outline-secondary w-100" id="cancelLink">取消</button>
		</div>
	</div>
</div>

<div class="container p-4 shadow-lg rounded-3 bg-white" id="imageModal">
	<h4 class="text-center mb-3">圖片連結</h4>
	<div class="row mb-3">
		<div class="col-12">
			<input type="text" id="imageUrl" class="form-control" placeholder="請輸入圖片網址">
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-primary w-100" id="uploadImage">確定</button>
		</div>
		<div class="col-6">
			<button class="btn btn-outline-secondary w-100" id="closeModal">關閉</button>
		</div>
	</div>
</div>

<div class="container p-4 shadow-lg rounded-3 bg-white" id="videoModal">
	<h4 class="text-center mb-3">插入 YouTube 影片</h4>
	<div class="row mb-3">
		<div class="col-12">
			<input type="text" id="videoUrl" class="form-control" placeholder="請輸入 YouTube 網址">
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-primary w-100" id="confirmVideo">確定</button>
		</div>
		<div class="col-6">
			<button class="btn btn-outline-secondary w-100" id="cancelVideo">取消</button>
		</div>
	</div>
</div>


<!-- Quill JS -->
<script src="~/lib/quill/quill.js"></script>
<script src="~/js/articleEdit/articleEdit.js"></script>