<!-- 嵌入首頁導覽列 -->
@{
    Layout = "_Layout";
}

<!-- 嵌入商城導覽列 -->
@await Html.PartialAsync("ShoppingMall_Nav")

<p>這裡是商品頁面</p>

<div class="row g-0">
    <div class="col-sm-10">
        <!-- 商品資訊 -->
        <div class="section bg-success text-white">
            <h2>商品資訊</h2>
            <p>這裡是 商品資訊 的內容。可以放置圖片、文字或其他元素。</p>

            <div class="col-sm-2">
                <div class="row g-0">
                    <div class="section ql-bg-blue text-white">

                    </div>
                </div>
            </div>
        </div>

        <br />

        <!-- 相關商品 -->
        <div class="section bg-danger text-white">
            <h2>相關商品</h2>
            <p>這裡是 相關商品 的內容。可以用來展示更多資訊。</p>
            <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">商品連結</a>
        </div>

        <br />

        <!-- 瀏覽紀錄 -->
        <div class="section bg-info text-white">
            <h2>瀏覽紀錄</h2>
            <p>這裡是 瀏覽紀錄 的內容。可以用來展示更多資訊。</p>
            <a class="nav-link text-white" asp-area="" asp-controller="Checkout" asp-action="Index">結帳連結</a>
        </div>
    </div>

    <!-- 側邊欄 -->
    <div class="col-sm-2 bg-warning text-white">
        <div class="sidebar">
            <h3>廣告</h3>
            <img src="~/img/product/97f39860d771a87c21972e0c0f1snyv5.jpg" class="d-block w-100 mb-3" style="object-fit: contain; height: 15vh;" alt="...">
            <img src="~/img/product/97f39860d771a87c21972e0c0f1snyv5.jpg" class="d-block w-100 mb-3" style="object-fit: contain; height: 15vh;" alt="...">
            <img src="~/img/product/97f39860d771a87c21972e0c0f1snyv5.jpg" class="d-block w-100 mb-3" style="object-fit: contain; height: 15vh;" alt="...">
        </div>
    </div>
</div>