<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />

@{
    ViewBag.Title = "Home Page";
}

    <!--側邊選單-->
<div class="home-container">
    <div class="side-menu">
        <div class="list-group " style="width:130px;" >
            <a href="/News/Index" class="list-group-item list-group-item-action">
                <img src="~/img/layout/newspaper.png" style="width:25px" alt="新聞區">
                <span>新聞區</span>
            </a>
            <a href="/Discussion/Index" class="list-group-item list-group-item-action">
                <img src="~/img/layout/discussion.png" style="width:25px" alt="討論區">
                <span>討論區</span>
            </a>
            <a href="/ShoppingMall/Index" class="list-group-item list-group-item-action">
                <img src="~/img/layout/shop.png" style="width:25px" alt="商城">
                <span>商城</span>
            </a>
            <a href="/CustomerServiceIssues/Index" class="list-group-item list-group-item-action">
                <img src="~/img/layout/request.png" style="width:25px" alt="客服中心">
                <span>客服中心</span>
            </a>
            <a href="/Setting/Setting" class="list-group-item list-group-item-action">
                <img src="~/img/layout/configuration.png" style="width:25px" alt="設置">
                <span>設置</span>
            </a>
        </div>
    </div>
    @* 熱門新聞 *@
    <div class="news-container">
        <h3>最新消息</h3>

        <div class="newsList">
            <div class="News">
                <a href="/News/News"><img src="~/img/News/MLB.png" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="/News/News">《鬼滅之刃》與美國職棒大聯盟展開合作企劃 大谷使出「打擊之呼吸」猛力一擊</a></h6>
            </div>

            <div class="News">
                <a href="#"><img src="~/img/News/Zero.jpg" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="#">《絕區零》釋出「薇薇安」代理人檔案</a></h6>
            </div>

            <div class="News">
                <a href="#"><img src="~/img/News/MHN.jpg" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="#">《Monster Hunter Now》SEASON 5「劃破春日的劍尾」正式登場 追加斬龍與青熊獸</a></h6>
            </div>
            <div class="News">
                <a href="#"><img src="~/img/News/MLB.png" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="#">《鬼滅之刃》與美國職棒大聯盟展開合作企劃 大谷使出「打擊之呼吸」猛力一擊</a></h6>
            </div>

            <div class="News">
                <a href="#"><img src="~/img/News/Zero.jpg" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="#">《絕區零》釋出「薇薇安」代理人檔案</a></h6>
            </div>

            <div class="News">
                <a href="#"><img src="~/img/News/MHN.jpg" alt="MHN Image" style="width:220px;height:220px" /></a>
                <h6><a href="#">《Monster Hunter Now》SEASON 5「劃破春日的劍尾」正式登場 追加斬龍與青熊獸</a></h6>
            </div>
        </div>
    </div>
    
    @* 廣告 *@
    <div class="ad-container">
        <div class="ad">
			<a href="/Product/Index" alt"廣告"><img src="~/img/product/17de292a8fb7805796cf99d3001p39z5.jpg" /></a>
        </div>
        <div class="ad">
			<a href="/ShoppingMall/Index" alt"廣告"><img src="~/img/product/97f39860d771a87c21972e0c0f1snyv5.jpg" /></a>
        </div>
    </div>

    @* 熱門商品 *@
    <div class="section">
        <h2>熱門商品</h2>
        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">商品連結</a>

        <div class="scroll-container">
            <div class="products-wrapper">
                <a href="https://buy.gamer.com.tw/atmItem.php?sn=38422" class="share-products-card">
                    <div class="products-card-block">
                        <span class="img-color-NS">NS</span>
                        <img src="https://p2.bahamut.com.tw/B/2KU/12/a886730ae8958241f1d73731b41sshs5.JPG" alt="" class="share-products-img">
                    </div>
                    <p class="products-name-content">《符文工廠 龍之天地》中日英文版（附贈預購特典）</p>
                </a>

                <a href="https://buy.gamer.com.tw/atmItem.php?sn=37750" class="share-products-card">
                    <div class="products-card-block">
                        <span class="img-color-NS">NS</span>
                        <img src="https://p2.bahamut.com.tw/B/2KU/78/737dd50ad7f40513e81ff4d1041s05e5.JPG" alt="" class="share-products-img">
                    </div>
                    <p class="products-name-content">《異度神劍 X 終極版》中日英文版（附贈預購特典）</p>
                </a>

                <a href="https://buy.gamer.com.tw/atmItem.php?sn=38471" class="share-products-card">
                    <div class="products-card-block">
                        <span class="img-color-PS5">PlayStation5</span>
                        <img src="https://p2.bahamut.com.tw/B/2KU/06/acdaeb3cd25442dc8d50f686ee1sxnq5.JPG" alt="" class="share-products-img">
                    </div>
                    <p class="products-name-content">《空之軌跡 the 1st》中文一般版</p>
                </a>

                <a href="https://buy.gamer.com.tw/atmItem.php?sn=38472" class="share-products-card">
                    <div class="products-card-block">
                        <span class="img-color-NS">NS</span>
                        <img src="https://p2.bahamut.com.tw/B/2KU/09/6495aab10dab517b9483a4f9621sxnt5.JPG" alt="" class="share-products-img">
                    </div>
                    <p class="products-name-content">《空之軌跡 the 1st》中文一般版</p>
                </a>

                <a href="https://buy.gamer.com.tw/atmItem.php?sn=38575" class="share-products-card">
                    <div class="products-card-block">
                        <span class="img-color-PS5">PlayStation5</span>
                        <img src="https://p2.bahamut.com.tw/B/2KU/41/5f92d783d47a3962df60d85aeb1t5k15.JPG" alt="" class="share-products-img">
                    </div>
                    <p class="products-name-content">《潛龍諜影 Delta：食蛇者》中文一般版（附贈預購特典）</p>
                </a>
            </div>
        </div>
    </div>

    @* 熱門看板 *@
    <div class="discussion-container">
        <div class="discussion-card">
		    <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>
        <div class="discussion-card">
            <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>
        <div class="discussion-card">
            <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>
        <div class="discussion-card">
            <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>
        <div class="discussion-card">
            <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>
        <div class="discussion-card">
            <a href=""><img src="~/img/home/test.jpg" /></a>
            <h6>魔物獵人</h6>
        </div>

    </div>
</div>


