.container{
    width:100%;
    height:auto;
}
.carousel {
    margin-top:50px;
}

.carousel-item img {
    object-fit: contain;
}

.news-container {
    display: flex;
    align-items: flex-start;
    padding: 12px 0;
    line-height: 1.5;
    border-bottom: 1px dotted gray;
    overflow: auto;
    word-wrap: break-word;
}
h1 {
    color: #0d6efd;
    text-decoration: underline;
    font-size: 22px;
    float: left;
    display: block;
}
newsimg {
    display: block;
    width: 216px;
    height: auto;
}