.myContainer{
    padding:30px 80px;
}
h2 {
    font-weight: bold;
}
p {
    padding: 10px 0 30px;
    color: #c9cacb;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #c9cacb;
    margin-bottom: 5px;
}
ul {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    padding:0px;
}
li {
    list-style:none;
}
h5{
    line-height:2em;
    margin-top:20px;
}