<nav class="navbar" style="padding:0px">
    <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center; background-color:black;">
        <div>
            <div style="margin-right:50px">
                <ul>
                    <li><a href="/Discussion/Index">熱門排行</a></li>
                    <li><a href="">手機</a></li>
                    <li><a href="">PC</a></li>
                    <li><a href="">TV</a></li>
                    <li><a href="">電競</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>