@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Article/Article.css" asp-append-version="true" />
@section ExtraNavbar{
	<nav class="navbar p-0 extra-navbar">
		<div class="container-fluid">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="title-content">
					<a class="m-3" asp-action="Index" asp-controller="Discussion">版面</a>
					<a class="m-3" asp-action="Index" asp-controller="Discussion">文章列表</a>
				</div>
			</div>
			<div class="row col-lg-2">
				<div class="col-xxl-4 ">
				</div>
				<div class="col-xxl-4 col-lg-6">
					<button class="btn btn-outline-info" onclick="location.href='@Url.Action("Index", "Discussion")'">訂閱</button>
				</div>
				<div class="col-xxl-4 col-lg-6">
					<button class="btn btn-outline-info" onclick="location.href='@Url.Action("Index", "ArticleEdit", new { articleGroupId = ViewBag.ArticleGroupId })'">回覆</button>
				</div>
			</div>
		</div>
	</nav>
}
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<div class="selectFloor">
		<p>前往樓層</p>
		<input type="text" placeholder="?樓" style="width:50px;" />
	</div>


	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - FinalProject_GameForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/Views/Shared/_Layout.cshtml.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
