@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ExtraNavbar{
    <nav class="extra-navbar">
        <div class="container-fluid">            
            <ul>
                <li><a href="/News/Index">綜合新聞</a></li>
                <li><a href="">手機</a></li>
                <li><a href="">PC</a></li>
                <li><a href="">TV</a></li>
                <li><a href="">電競</a></li>
            </ul>           
        </div>
    </nav>
}
<div class="news-content">
    @RenderBody()
</div>