<nav class="navbar" style="padding:0">
    <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center; background-color:black;">
        <div style="margin-right:50px">
            <ul>
                <li><a href="/Discussion/Index">熱門排行</a></li>
                <li><a href="">手機</a></li>
                <li><a href="">PC</a></li>
                <li><a href="">TV</a></li>
                <li><a href="">電競</a></li>
            </ul>
        </div>
        <div class="search-container" style="flex: 1; display: flex; justify-content: center;">
            <form class="search" action="action_page.php" style="width:1%">
                <input type="text" placeholder="搜尋看板" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>