/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.body>footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Style the search field */
    form.search input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        border-radius:5px;
        float: left;
        width: 300px;
        background: #f1f1f1;
    }

/* Style the submit button */
form.search button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius:5px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-left:-51px;
}

form.search button:hover {
        background: #0b7dda;
    }

/* Clear floats */
form.search:after {
    content: "";
    clear: both;
    display: table;
}

/* RWD */
.search-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search form {
    width: 400px; /* default form width */
}

/* For medium screens like tablets (between 768px and 1024px) */
@media (max-width: 1024px) {
    .search form {
        width: 300px; /* Adjust width for medium screens */
    }
    form.search input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 5px;
        float: left;
        width: 250px;
        background: #f1f1f1;
    }

    /* Style the submit button */
    form.search button {
        float: left;
        width: 50px;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 5px;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        margin-left: -51px;
    }

}

/* For small screens like mobile devices (below 768px) */
@media (max-width: 767px) {
    .search-container {
        justify-content: center;
        flex: 1;
        margin-left: 20px;
        margin-right: 20px;
        width:210px;
    }

    .search form {
        width: 100%; /* Full width on small screens */
        max-width: 350px; /* Limit max width */
    }

}