<nav class="navbar" style="padding:0">
    <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center; background-color:black;">
        <div style="margin-right:50px">
            <ul>
                <li><a href="/Discussion/Index">熱門排行</a></li>
                <li><a href="/Discussion/Index?category=PC">電腦</a></li>
                <li><a href="/Discussion/Index?category=手機">手機</a></li>
                <li><a href="/Discussion/Index?category=遊戲機">遊戲機</a></li>
                <li><a href="/Discussion/Index?category=桌遊">桌遊</a></li>
            </ul>
        </div>

        @* 只要包含1個字也會搜尋成功 *@
        <div class="search-container" style="flex: 1; display: flex; justify-content: center;">
            <form class="search" action="/Discussion/Index" method="get">
                <input type="text" placeholder="搜尋看板" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </div>
</nav>
