@* _LoginModal *@
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<!-- Modal 標題 -->
			<div class="modal-header">
				<h5 class="modal-title" id="loginModalLabel">請先登入</h5>
				@* <button type="button" class="close" data-dismiss="modal" aria-label="關閉"> *@
				@* 	<span aria-hidden="true">&times;</span> *@
				@* </button> *@
			</div>
			<!-- Modal 主體內容 -->
			<div class="modal-body">
				您需要先登入才能進行這個動作喔！
			</div>
			<!-- Modal 按鈕 -->
			<div class="modal-footer">
				@* <button type="button" class="btn btn-secondary" data-dismiss="modal" id="loginModalCancel">取消</button> *@
				<button type="button" class="btn btn-primary" id="loginModalConfirm">確定</button>
			</div>
		</div>
	</div>
</div>
