<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex flex-column flex-lg-row align-items-center">
        <!-- Logo 和漢堡選單在小螢幕時同一行 -->
        <div class="d-flex justify-content-between align-items-center w-100 d-lg-none">
            <a class="nav-link text-white" asp-area="" asp-controller="ShoppingMall" asp-action="Index">
                <img src="~/img/shoppingMall/baha_shopping_logo.png" class="d-block" style="max-height: 3rem; width: auto; object-fit: contain;" alt="...">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- 大螢幕時的 Logo（單獨顯示） -->
        <a class="nav-link text-white d-none d-lg-block" asp-area="" asp-controller="ShoppingMall" asp-action="Index">
            <img src="~/img/shoppingMall/baha_shopping_logo.png" class="d-block" style="max-height: 3rem; width: auto; object-fit: contain;" alt="...">
        </a>

        <!-- 搜尋框置中 -->
        <div class="d-flex justify-content-center w-100 my-2 my-lg-0 order-lg-1 flex-grow-1">
            <form class="d-flex" style="max-width: 500px; width: 100%;">
                <input class="form-control me-3" type="search" placeholder="搜尋想要的商品或遊戲..." aria-label="Search" style="width: 100%;">
                <button class="btn btn-outline-success" type="submit">                    
                    <img src="~/img/share/magnifying-glass.png" class="d-block" style="max-height: 3rem; width: auto; object-fit: contain;" alt="...">
                </button>
            </form>
        </div>

        <!-- 選單靠右 -->
        <div class="collapse navbar-collapse order-lg-2" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-lg-row">
                <li class="nav-item">
                    <a class="nav-link" href="#">購物車</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Order/Index">我的訂單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">客服中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">公告</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

