
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo靠左 -->
        <a class="navbar-brand" href="#">商城</a>

        <!-- 漢堡選單按鈕 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 搜尋框置中 -->
        <form class="d-flex position-absolute top-50 start-50 translate-middle" style="max-width: 500px;">
            <input class="form-control me-3" type="search" placeholder="搜尋想要的商品或遊戲..." aria-label="Search" style="width: 600px;">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- 選單靠右 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">購物車</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的訂單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">客服中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">公告</a>
                </li>
            </ul>
        </div>
    </div>
</nav>