<link rel="stylesheet" href="~/css/Checkout/Checkout.css" asp-append-version="true" />

<!-- 嵌入商城導覽列 -->
@{
	Layout = "~/Views/Shared/ShoppingMall_Nav.cshtml";
}

<p>這裡是結帳頁面</p>

<div class="row g-0">
	<div class="col-sm-12">
		@* 訂單明細 *@
		<!-- 區塊 2 -->
		<div class="section bg-success">
			<div class="checkout-products-info-area">
				<h2>訂單明細</h2>
				<div class="products-detail-main-block order-detail">
					<div class="products-info-title">
						<div class="row g-0">
							<div class="col-sm-2">
								<div class="checkout-title-name">平台</div>
							</div>
							<div class="col-sm-2">
								<div class="checkout-title-game-name">品名</div>
							</div>
							<div class="col-sm-2">
								<div class="checkout-title-price">單價</div>
							</div>
							<div class="col-sm-2">
								<div class="checkout-title-number">數量</div>
							</div>
							<div class="col-sm-2">
								<div class="checkout-title-note">小計</div>
							</div>
							<div class="col-sm-2">
								<div class="checkout-title-space"></div>
							</div>
						</div>
					</div>
					<div class="products-info-list-area">
						<div id="row38576" data-sn="38576" class="products-info-list">
							<div class="row g-0">
								<div class="col-sm-2">
									<div class="list-name">PlayStation5</div>
								</div>
								<div class="col-sm-2">
									<div class="list-gamename">
										<p>《潛龍諜影 Delta：食蛇者》中文戰術版（附贈預購特典）</p>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="list-price">2550元</div>
								</div>
								<div class="col-sm-2">
									<div class="list-number" name="itemList" data-title="《潛龍諜影 Delta：食蛇者》中文戰術版（附贈預購特典）" data-platform="PlayStation5" data-shipway="7" data-sn="38576">
										<div class="btn-reduce-products-number">
											<p>-</p>
										</div>
										<input type="number" class="product-num" data-limited="1" data-sn="38576" data-price="2550" value="1" min="1" max="999">
										<div class="btn-add-products-number">
											<p>＋</p>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div id="subtotal38576" class="list-note">2550元</div>
								</div>
								<div class="col-sm-2">
									<div class="btn-products-delete">刪除</div>
								</div>
							</div>
						</div>
					</div>
					<div class="products-info-bonus-area">						
						<div class="row g-0">
							<div class="col-sm-12">
								<div class="total-cost-block">
									<p>付款金額</p>
									<span id="amountpaid" data-grandtotal="2550">2550</span>
									<p>元</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br />

		@* 收件人資訊 *@
		<!-- 區塊 3 -->
		<div class="section bg-danger">
			<div class="checkout-products-recipient-area">
				<h2>收件人資訊</h2>
				<span id="js-recipients-edit"></span>
				<div id="js-recipients" class="checkout-products-main-block">
					<div class="row g-0">
						<div class="col-sm-6">
							<div class="recive-name-area">
								<div class="recive-name-title">姓名</div>
								<input type="text" class="input-name" name="uname" value="" placeholder="請填寫真實姓名">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="cellphone-area">
								<div class="cellphone-title">手機</div>
								<div class="cellphone-block">
									<input type="text" class="input-cellphone-num" name="ucell" value="" placeholder="限填數字" maxlength="10">
									<label class="cellphone-send-mes-block">
										<input type="checkbox" checked="" name="usms">
										<p>到貨簡訊通知</p>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-sm-6">
							<div class="phone-area">
								<div class="phone-title">電話</div>
								<div class="phone-input-area">
									<div class="col-sm-2">
										<input type="text" class="input-front-phone" name="ucity" value="" maxlength="2">
									</div>
									<div class="col-sm-10">
										<input type="text" class="input-main-phone" name="utel" value="" placeholder="限填數字" maxlength="8">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="email-area">
								<div class="email-title">Email</div>
								<input type="text" class="input-email" name="uemail" value="">
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-sm-6">
							<div class="address-area">
								<div class="address-title">寄件地址</div>
								<div class="address-input-area">
									<div class="col-sm-3">
										<input type="text" class="input-postal-code" name="upostal" value="" placeholder="郵遞區號" maxlength="5">
									</div>
									<div class="col-sm-9">
										<input type="text" class="input-address" name="uaddress" value="" placeholder="請輸入完整地址">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br />		
	</div>
</div>

<div class="row g-0">
	<div class="col-sm-12">
		<!-- 送出訂單按鈕 -->
		<div class="submit-button-area">
			<button type="submit" class="btn-submit-order">送出訂單</button>
		</div>
	</div>
</div>


<script src="~/js/checkout/AdjustCheckoutQuantity.js" asp-append-version="true"></script>
