<!-- 嵌入首頁導覽列 -->
@{
    Layout = "_Layout";
}

<!-- 嵌入商城導覽列 -->
@await Html.PartialAsync("ShoppingMall_Nav")

<p>這裡是結帳頁面</p>

<div class="row g-0">
    <div class="col-sm-12">
        <!-- 區塊 2 -->
        <div class="section bg-success text-white">
            <h2>排行榜</h2>
            <p>這裡是區塊 B 的內容。可以放置圖片、文字或其他元素。</p>
        </div>

        <!-- 區塊 3 -->
        <div class="section bg-danger text-white">
            <h2>實體商品</h2>
            <p>這裡是 商品 的內容。可以用來展示更多資訊。</p>
            <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">商品連結</a>
        </div>

        <br />

        <!-- 結帳 -->
        <div class="section bg-info text-white">
            <h2>結帳</h2>
            <p>這裡是 結帳區塊 的內容。可以用來展示更多資訊。</p>
            <a class="nav-link text-white" asp-area="" asp-controller="Checkout" asp-action="Index">結帳連結</a>
        </div>
    </div>   
</div>