.shoppingMall-nav {
    width: 150px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    transition: all 0.3s ease; /* 過渡動畫，0.3秒，平滑效果 */
}

.shoppingMall-nav:hover {    
    font-size: 50px; /* 滑鼠移上時的文字大小 */
    color:crimson ; /* 滑鼠移上時的顏色 */
}