@{
    ViewBag.Title = "Home Page";
}

    <!--側邊選單-->
<div class="home-container">
    <div class="list-group " style="width:120px;" >
        <a href="/News/Index" class="list-group-item list-group-item-action">新聞區</a>
        <a href="#" class="list-group-item list-group-item-action">討論區</a>
        <a href="/ShoppingMall/Index" class="list-group-item list-group-item-action">商城</a>
        <a href="#" class="list-group-item list-group-item-action">客服中心</a>
        <a href="#" class="list-group-item list-group-item-action">設置</a>
    </div>
    @* 熱門新聞 *@
    <div class="news-container">
        熱門新聞
    </div>

    @* 廣告 *@
    <div class="ad">
        廣告
    </div>
    <div class="ad">
        廣告
    </div>

    @* 熱門商品 *@
    <div class="hot-container">
        熱門商品
    </div>

    @* 熱門看板 *@
    <div class="hot-container">
        熱門看板
    </div>

</div>


