@{
    ViewBag.Title = "Home Page";
}

    <!--側邊選單-->
    <div class="list-group " style="width:120px;" >
        <a href="#" class="list-group-item list-group-item-action">新聞區</a>
        <a href="#" class="list-group-item list-group-item-action">討論區</a>
        <a href="/ShoppingMall/Index" class="list-group-item list-group-item-action">商城</a>
        <a href="#" class="list-group-item list-group-item-action">客服中心</a>
        <a href="#" class="list-group-item list-group-item-action">設置</a>
    </div>

    <div 



