<div class="container">
    <div class="row">
        <div class="col-md-12 bg-primary text-white">
            區塊 1
            @* 輪播圖 *@
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
                @* 指示器 *@
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                @* 圖片 *@
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/product/97f39860d771a87c21972e0c0f1snyv5.jpg" class="d-block w-100" style="object-fit: contain; height: 20vh;" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/product/17de292a8fb7805796cf99d3001p39z5.jpg" class="d-block w-100" style="object-fit: contain; height: 20vh;" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/product/29adba0217e3641578f2dbb3831qm415.jpg" class="d-block w-100" style="object-fit: contain; height: 20vh;" alt="...">
                    </div>
                </div>
                @* 前後按鈕 *@
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 bg-success text-white">區塊 2</div>        
    </div>
    <div class="row">        
        <div class="col-md-12 bg-danger text-white">區塊 3</div>
    </div>
</div>