form{
   margin:0 !important;
}
/* 新聞內容 */
.myContainer{
    width:100%;
    padding:30px 80px;
}

.myContainer h2 {
    font-weight: bold;
    padding:0 30px;
    text-indent: 2em;
    margin-top: 10px;
    line-height: 1.5em;
}
.myContainer p {
    padding: 0 30px 15px;
    color: #c9cacb;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #c9cacb;
    margin-bottom: 15px;
    margin-left: 30px;
}

.news-content {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    .news-content h3 {
        padding: 10px 30px;
        line-height: 2em;
        margin-top: 20px;
        text-indent: 2em;
        font-size: 1.25rem
    }
    .news-content h4 {
        padding: 10px 30px;
        line-height: 2em;
        margin-top: 20px;
        text-indent: 2em;
        font-size: 1.25rem
    }
    .news-content h5 {
        padding: 10px 30px;
        line-height: 2em;
        margin-top: 40px;
        text-indent: 2em;
    }
    .news-content h6 {
        padding: 10px 30px;
        line-height: 2em;
        margin-left: 2em;
        font-size: 1rem
    }
    .news-content img {
        display: block;
        max-width: 90%;
        height: auto;
        margin: 20px auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .news-content iframe {
        width: 90%;
        height: auto;
        aspect-ratio: 16 / 9;
        margin: 20px auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: block;
    }
.category-btn {
    font-size: 16px;
    color: red;
    background-color: mediumpurple;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 4px;
}

    .category-btn:hover {
        opacity: 0.6
    }

    .category-btn.pc {
        background-color: lightpink;
    }

    .category-btn.tv {
        background-color: greenyellow;
    }

    .category-btn.手機 {
        background-color: yellow;
    }
    .category-btn img{
        display:inline;
        margin: 0;
    }

/* 留言板 */
.message-container {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.messageList{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.message {
    display: flex;
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 4px;
    padding:15px;
}
.comment-item {
    width: 100%;
    position: relative;
    padding: 10px;
    word-wrap: break-word;
    margin-top: 20px;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.3);
}
.comment-item:last-child{
    margin-bottom: 20px;
    border-bottom: none;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
    .comment-item img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0;
        margin-right: 10px;
    }
.comment-item h4 {
    padding: 0;
    color: blue;
    font-size: 16px;
    text-indent: 0;
    margin: 0;
}
.comment-item h5 {
    padding: 0;
    color: black;
    font-size: 22px;
    margin-left: 2em;
    margin-top: 10px;
    text-indent: 0;
}
.comment-item h6 {
    color: gray;
    font-size: 12px;
    margin: 0;
    opacity:0.5;
}
.text-container{
    display:flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
}
.text-container form {
    width: 100%;
    margin-top: 15px;
}
textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 18px;
    color: black;
    opacity: 0.6;
    transition: box-shadow 0.15s ease-in-out;
    background: transparent;
    box-sizing: border-box;
    resize: none;
}
    textarea:focus {
        border: 2px solid rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 5px 3px rgba(0, 123, 255, 0.5);
        outline: none;
    }
    textarea.error {
        border: 2px solid red;
        box-shadow: 0 0 10px 3px red;
    }
        textarea.error:focus {
            box-shadow: 0 0 10px 5px red;
            outline: none;
        }
.send{
    margin-left:10%;
    margin-top:8px;
    background-color:green;
    color:white;
    border:1px solid black;
    border-radius:5px;
}
.send:hover {
    background-color: lightgreen;
    opacity: 0.8;
}
.text-area {
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 10px 0 0 10%;
}
#char-count {
    position: absolute;
    right: 15px;
    bottom: 15px;
    opacity: 0.4;
    pointer-events: none;
}

/* 相關新聞 */
.others-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.others {
    margin-top: 50px;
    width: 80%;
    height: 380px;
    border: 1px solid gray;
}
.others h3 {
    color: forestgreen;
    border-bottom:1px solid black;
    margin-bottom:20px;
    padding-bottom:10px;
}

.newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}
.otherNews {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
}
    .otherNews img {
        width: 220px;
        height: 220px;
        object-fit:cover;
        border-radius: 8px;
        margin: auto;
    }

    .otherNews h6 {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 0;
        line-height: normal;
        padding: 0;
    }

        .otherNews h6 a {
            text-decoration: none;
            color:black;
        }

#message{
    overflow:visible;
}