/* 新聞內容 */
.myContainer{
    padding:30px 80px;
}
.myContainer h2 {
    font-weight: bold;
    padding:30px;
}
.myContainer p {
    padding: 0 30px 15px;
    color: #c9cacb;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #c9cacb;
    margin-bottom: 15px;
}
.myContainer ul {
    display: flex !important;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
}
.myContainer li {
    list-style: none;
}
.myContainer li img{
    width:100%;
}
.news-content {
    padding: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.news-content h5 {
    padding: 10px 0;
    line-height: 2em;
    margin-top: 20px;
}
.category-btn {
    font-size: 16px;
    color: red;
    background-color: mediumpurple;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 4px;
}

    .category-btn:hover {
        opacity: 0.6
    }

    .category-btn.pc {
        background-color: cornflowerblue;
    }

    .category-btn.tv {
        background-color: greenyellow;
    }

    .category-btn.手機 {
        background-color: yellow;
    }
/* 留言板 */
.message-container {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.messageList{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.message {
    display: flex;
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 4px;
    padding:15px;
}
.comment-item {
    width: 100%;
    position: relative;
    padding: 10px;
    word-wrap: break-word;
    margin-top: 20px;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.3);
}
.comment-item:last-child{
    margin-bottom: 20px;
    border-bottom: none;
}
.comment-item h4 {
    color: blue;
    font-size: 16px;
    margin: 0;
}
.comment-item h5 {
    color:black;
    font-size: 22px;
    margin-left:2em;
    margin-top: 10px;
}
.comment-item h6 {
    color: gray;
    font-size: 12px;
    margin: 0;
    opacity:0.5;
}
.text-container{
    display:flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
}
form {
    width:100%;
}
textarea {
    margin: 10px 0 0 10%;
    width: 80%;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    color: black;
    opacity: 0.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.send{
    margin-left:10%;
    margin-top:8px;
    background-color:green;
    color:white;
    border:1px solid black;
    border-radius:5px;
}


/* 相關新聞 */
.others-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.others {
    margin-top: 50px;
    width: 80%;
    height: 380px;
    border: 1px solid gray;
}
.others h3 {
    color: forestgreen;
    border-bottom:1px solid black;
    margin-bottom:20px;
    padding-bottom:10px;
}

.newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}
.otherNews {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
}

    .otherNews img {
        width: 220px;
        height: 220px;
        object-fit:cover;
        border-radius: 8px;
    }

    .otherNews h6 {
        font-size: 14px;
        margin-top: 15px;
    }

        .otherNews h6 a {
            text-decoration: none;
            color:black;
        }