
/* 文章封面圖片 */
.col-md-2 img {
    min-width: 210px;
    min-height: 210px;
    max-width: 210px;
    max-height: 210px;
    object-fit: contain;
}

/* 文章列表 標題超連結顏色 */
.card-title a:hover {
    color: dodgerblue !important; /* !important 強制覆蓋 */
}

.container {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

﻿.dis-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dis-container a {
    text-decoration: none; /* 移除超連結的底線 */
}

    .dis-container a:hover {
        text-decoration: underline;
    }

/* 看板首頁圖片 */
.dis-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.dis-container h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.hot-dis ul {
    list-style-type: none;
    padding: 0;
}

.hot-dis li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dis-container h4 {
    text-align: center;
    margin-top: 30px;
    line-height: 1.6;
}

.hot-dis h5 {
    padding: 10px;
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
    margin-left: 10%;
}

.hot-dis h6 {
    font-size: 14px;
    color: blue;
    margin-right: 20%;
}


/* 聊天室 */
.chatroom {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 300px; /* 設定寬度 */
    height: 400px; /* 設定固定高度 */
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* 包括內邊距和邊框在內 */
    z-index: 9999; /* 確保在最上層 */
}

/* 聊天容器 */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 訊息區域，並讓它可滾動 */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word; /* 讓長單詞在邊緣自動換行 */
    word-break: break-word; /* 確保長字串（如URL）在邊界斷開 */
}

/* 輸入區域固定在底部 */
.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
    background-color: white;
    width: 100%;
    margin-bottom: 17px;
    box-sizing: border-box;
}

    /* 輸入框樣式 */
    .chat-input input {
        flex-grow: 1; /* 輸入框填滿剩餘空間 */
        padding: 5px;
        height: 30px;
        box-sizing: border-box;
    }

    /* 發送按鈕樣式 */
    .chat-input button {
        height: 30px;
        width: 50px;
        margin-left: 10px;
    }
