.container {
    margin-top: 110px;
    padding: 0px;
}

input[type="file"] {
    display: none;
}

.imgFile-border {
    border: 1px solid #ccc;
}

.custom-image-class {
    height: 240px;
}


.ql-size-small {
    font-size: .75em;
}

.ql-size-large {
    font-size: 1.25em;
}

.ql-size-huge {
    font-size: 1.5em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999; /* 確保覆蓋在畫面最上層 */
    display: none;
}

#imageModal, #videoModal, #LinkModal {
    width: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}



#hiddenContent {
    display: none;
}

#imgFileBlock {
    visibility: hidden;
}

#ql-font {
    width: 150px;
}


#previewImg {
    height: 200px;
    width: 500px;
    margin-top: 10px;
    object-fit: cover;
}

.ql-size-small {
    font-size: .75em
}

.ql-size-large {
    font-size: 1.25em
}

.ql-size-huge {
    font-size: 1.5em
}