USE [GameForum]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 2025/3/20 下午 12:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ArticleGroupID] [int] NULL,
	[ArticleContent] [nvarchar](max) NOT NULL,
	[PostDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__Article__CC36F66090AB9C5B] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([ArticleID], [UserID], [ArticleGroupID], [ArticleContent], [PostDate], [EditDate], [Status]) VALUES (1, N'user099', 1, N'<p>哈囉各位，我是拿塔，這次想跟大家分享一下我在《魔物獵人 荒野》中的經歷。</p><p>原本我只是想輕鬆享受狩獵的樂趣，沒想到卻被那隻名為「白之孤影」的魔物欺負得團團轉！這傢伙總是在我最不注意時出現，讓我屢戰屢敗，真的是氣到不行。</p><p>面對這樣的狀況，我決定發文向各位高手求教，有沒有人能分享一些對付「白之孤影」的實用攻略？也希望能藉此機會認識更多志同道合的獵人，一起討論如何提升技巧。</p>', CAST(N'2025-03-14T13:20:22.000' AS DateTime), CAST(N'2025-03-14T14:11:35.710' AS DateTime), N'存在')
INSERT [dbo].[Article] ([ArticleID], [UserID], [ArticleGroupID], [ArticleContent], [PostDate], [EditDate], [Status]) VALUES (27, N'User001', 1, N'{"ops":[{"attributes":{"size":"huge"},"insert":"111111111111111111111111111"},{"insert":"\n"}]}', CAST(N'2025-03-20T12:32:07.210' AS DateTime), CAST(N'2025-03-20T12:32:07.313' AS DateTime), N'文章')
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF__Article__postDat__59FA5E80]  DEFAULT (getdate()) FOR [PostDate]
GO
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF__Article__editDat__5AEE82B9]  DEFAULT (getdate()) FOR [EditDate]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK__Article__user_id__66603565] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK__Article__user_id__66603565]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_ArticleGroup1] FOREIGN KEY([ArticleGroupID])
REFERENCES [dbo].[ArticleGroup] ([ArticleGroupID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_ArticleGroup1]
GO
