USE [GameForum]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/3/19 下午 04:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[MainImageUrl] [nvarchar](250) NULL,
	[Price] [int] NOT NULL,
	[ProductCategoryID] [int] NULL,
	[Stock] [int] NULL,
	[Sold] [int] NULL,
	[Rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [MainImageUrl], [Price], [ProductCategoryID], [Stock], [Sold], [Rating]) VALUES (1, N'遊戲鍵盤', N'RGB背光機械鍵盤，適合電競玩家', N'../img/product/mainImg/306GK7YF10.jpg', 2990, 1, 50, 10, 4.5)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [MainImageUrl], [Price], [ProductCategoryID], [Stock], [Sold], [Rating]) VALUES (2, N'PS5 遊戲點數卡', N'適用於 PlayStation 5，購買遊戲或訂閱服務', N'../img/product/mainImg/97f39860d771a87c21972e0c0f1snyv5.JPG', 1000, 2, 100, 20, 4.8)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [MainImageUrl], [Price], [ProductCategoryID], [Stock], [Sold], [Rating]) VALUES (14, N'魔物獵人 荒野', N'《魔物獵人 荒野》中文一般版', N'../img/product/mainImg/EkAUYeYG.jpg', 1890, 5, 201, 149, 4.9)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Sold]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([ProductCategoryID])
GO
