USE [master]
GO
/****** Object:  Database [GameForum2]    Script Date: 2025/2/25 下午 12:04:52 ******/
CREATE DATABASE [GameForum2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameForum2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameForum2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameForum2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameForum2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameForum2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameForum2]
GO
/****** Object:  Table [dbo].[Advertisements]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisements](
	[AdID] [int] IDENTITY(1,1) NOT NULL,
	[AdName] [nvarchar](50) NULL,
	[Category] [nvarchar](25) NULL,
	[ImageID] [int] NULL,
	[ImageURL] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[BoardID] [int] NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[ArticleContent] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[Category] [nvarchar](25) NULL,
	[Views] [int] NULL,
 CONSTRAINT [PK__Articles__9C6270C87043B8C8] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discussions]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussions](
	[BoardID] [int] IDENTITY(1,1) NOT NULL,
	[BoardName] [nvarchar](50) NULL,
	[BoardDescription] [nvarchar](500) NULL,
	[ImageID] [int] NULL,
	[ImageURL] [nvarchar](250) NULL,
	[Views] [int] NULL,
	[Category] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[BoardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Preference] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](500) NULL,
	[ImageID] [int] NULL,
	[ImageURL] [nvarchar](250) NULL,
	[EditDate] [datetime] NULL,
	[Category] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPictures]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPictures](
	[PictureID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImageURL] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PictureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImageID] [int] NULL,
	[ImageURL] [nvarchar](250) NULL,
	[Price] [int] NULL,
	[Category] [nvarchar](25) NULL,
	[Stock] [int] NULL,
	[Sold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhotoID] [int] NULL,
	[PhotoURL] [nvarchar](250) NULL,
	[Gender] [varchar](1) NULL,
	[BirthDate] [date] NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewHistory]    Script Date: 2025/2/25 下午 12:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[ViewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ArticleID], [BoardID], [UserID], [Title], [ArticleContent], [EditDate], [Category], [Views]) VALUES (1, 1, 1, N'新賽季最強英雄推薦', N'這裡是最新的英雄聯盟賽季 T1 英雄排行榜！', CAST(N'2025-02-25T11:31:32.250' AS DateTime), N'遊戲', 150)
INSERT [dbo].[Articles] ([ArticleID], [BoardID], [UserID], [Title], [ArticleContent], [EditDate], [Category], [Views]) VALUES (2, 2, 2, N'Steam 春季特賣開始！', N'這次的折扣力度相當大，趕快來看看有哪些好遊戲！', CAST(N'2025-02-25T11:31:32.250' AS DateTime), N'遊戲', 80)
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Discussions] ON 

INSERT [dbo].[Discussions] ([BoardID], [BoardName], [BoardDescription], [ImageID], [ImageURL], [Views], [Category]) VALUES (1, N'英雄聯盟討論區', N'討論 LOL 遊戲策略、英雄選擇與最新改動！', NULL, N'https://example.com/lol_board.jpg', 5000, N'遊戲')
INSERT [dbo].[Discussions] ([BoardID], [BoardName], [BoardDescription], [ImageID], [ImageURL], [Views], [Category]) VALUES (2, N'Steam 遊戲討論', N'分享 Steam 遊戲評價與折扣資訊！', NULL, N'https://example.com/steam_board.jpg', 3000, N'遊戲')
SET IDENTITY_INSERT [dbo].[Discussions] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Content], [ImageID], [ImageURL], [EditDate], [Category]) VALUES (1, N'《英雄聯盟》新賽季更新', N'全新賽季即將來臨，帶來最新的改動與英雄調整！', NULL, N'https://example.com/lol.jpg', CAST(N'2025-02-25T11:31:32.240' AS DateTime), N'遊戲')
INSERT [dbo].[News] ([NewsID], [Title], [Content], [ImageID], [ImageURL], [EditDate], [Category]) VALUES (2, N'《艾爾登法環》DLC 發表', N'FromSoftware 宣布即將推出艾爾登法環全新 DLC！', NULL, N'https://example.com/eldenring.jpg', CAST(N'2025-02-25T11:31:32.240' AS DateTime), N'遊戲')
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [ProductID], [Quantity], [Price], [OrderDate]) VALUES (1, 1, 1, 1, 1999, CAST(N'2025-02-25T11:31:32.250' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [UserID], [ProductID], [Quantity], [Price], [OrderDate]) VALUES (2, 2, 2, 2, 1799, CAST(N'2025-02-25T11:31:32.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ImageID], [ImageURL], [Price], [Category], [Stock], [Sold]) VALUES (1, N'《魔獸世界》典藏版', N'包含所有擴充內容的特別版本', NULL, N'https://example.com/wow.jpg', 1999, N'遊戲', 10, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ImageID], [ImageURL], [Price], [Category], [Stock], [Sold]) VALUES (2, N'《暗黑破壞神IV》', N'暴雪娛樂出品的動作角色扮演遊戲', NULL, N'https://example.com/diablo4.jpg', 1799, N'遊戲', 20, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [PhotoID], [PhotoURL], [Gender], [BirthDate], [Address], [Email], [PhoneNumber]) VALUES (1, N'GameMaster', N'password123', NULL, N'https://example.com/avatar1.png', N'M', CAST(N'1990-05-15' AS Date), N'台北市', N'gamer@example.com', N'0912345678')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [PhotoID], [PhotoURL], [Gender], [BirthDate], [Address], [Email], [PhoneNumber]) VALUES (2, N'ProPlayer', N'abc123', NULL, N'https://example.com/avatar2.png', N'F', CAST(N'1995-08-22' AS Date), N'新北市', N'pro@example.com', N'0923456789')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534A534E91B]    Script Date: 2025/2/25 下午 12:04:52 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF__Articles__Views__4AB81AF0]  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Discussions] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Sold]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK__Articles__BoardI__4BAC3F29] FOREIGN KEY([BoardID])
REFERENCES [dbo].[Discussions] ([BoardID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK__Articles__BoardI__4BAC3F29]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK__Articles__UserID__4CA06362] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK__Articles__UserID__4CA06362]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductPictures]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ViewHistory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ViewHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
