.home-container {
    width: 100%;
    height:1800px;
    margin-top: 50px;
    margin-bottom:100px;
}
h2 {
    margin-top:60px;
    color: forestgreen;
    text-transform: uppercase;
    text-align: center;
}


/* 側邊選單 */
.list-group {
    margin-top: 5%;
    float: left;
    border-radius: 5px;
    width: 130px;
}
.list-group-item {
    background-color: bisque;
    font-weight:bold;
}
.list-group a img {
    width: 25px;
}
/* 最新消息 */
.news-container {
    width:100%;
    margin:50px 0 0 0;
    padding: 20px;
    background-color: white;
}

.newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding:0 10px;
}

.News {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
}
    .News:hover h6 a {
        text-decoration: underline;
        color: blue;
    }
    .News img {
        width: 95%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
        .News img:hover {
            transform: scale(1.1);
            transition: all 0.3s
        }

    .News h6 {
        padding: 10px;
        font-size: 16px;
        margin-top: 15px;
    }

        .News h6 a {
            text-decoration: none;
            color: black;
        }


/* 廣告 */
.ad-container{
    position:fixed;
    top:25%;
    right:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    z-index:1000;
}

.ad img {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 200px;
    font-size: 48px;
}
.ad img:hover{
    opacity:0.6;
}

/* 熱門商品 */
.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-top: 40px;
}

.shop-card {
    display: flex;
    gap: 25px;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.shop-card-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 200px;
    text-align: center;
}

.shop-card-block a{
    color:black;
    text-decoration:none;
}
.shop-card-block:hover h6 a{
    color:blue;
    text-decoration: underline;
}


.share-products-img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.img-color-NS {
    background: #e60012; /* NS 主色 */
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    margin-bottom: 0px; /* 標籤和圖片之間的間距 */
    width: 100%; /* 寬度與圖片一致 */
    box-sizing: border-box; /* 確保內邊距不影響寬度計算 */
    text-align: center; /* 文字居中 */
}

.img-color-PS5 {
    background: #003087; /* PS5 主色 */
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    margin-bottom: 0px; /* 標籤和圖片之間的間距 */
    width: 100%; /* 寬度與圖片一致 */
    box-sizing: border-box; /* 確保內邊距不影響寬度計算 */
    text-align: center; /* 文字居中 */
}

.shop-card-block h6 {
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 1.4;
    height: 48px;
}


/* 熱門看板 */
.discussion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap:20px;
    background-color: white;
    margin-top: 40px;
}
.home-container h2 {
    margin-top: 50px;
}
.discussion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:45%;
    text-align:center;
}
.discussion-card a{
    color:black;
    text-decoration:none;
}
.discussion-card:hover h6 a {
    color:blue;
    text-decoration: underline;
}

.discussion-card  img{
    margin-top:30px;
    width:90%;
}
.discussion-card h6{
    font-size:20px;
    margin-top:10px;
}