<link rel="stylesheet" href="~/css/Discussion/DisHome.css" asp-append-version="true" />

@{
}
@await Html.PartialAsync("_LayoutDis")

<div class="dis-container">
    <a href="" alt="進入列表"><img src="~/img/home/test.jpg" /></a>
    <h3>熱門文章</h3>
    <div class="hot-dis">
        <ul>
            <li>
                <h5>【攻略】畫面卡住 重新開機 閃退 [可能可行]的解決方法</h5>
                <h6>...<a href="">繼續閱讀</a></h6>
            </li>
            <li>
                <h5>【討論】荒野太刀</h5>
                <h6>...<a href="">繼續閱讀</a></h6>
            </li>
            <li>
                <h5>【密技】釣大魚成就跟帶卵魚刷法</h5>
                <h6>...<a href="">繼續閱讀</a></h6>
            </li>
        </ul>
    </div>
    <h3>公佈欄</h3>
</div>