<link rel="stylesheet" href="~/css/Discussion/Index.css" asp-append-version="true" />
@{
	Layout = "~/Views/Shared/_LayoutDis.cshtml";
}
@model List<FinalProject_GameForum.Models.Discussion>

<div class="dis-container">
	<div class="dis-list-container">
		@foreach (var discussion in Model)
		{
			<div class="dis-list">
				<a href="/Discussion/DisHome/@discussion.DiscussionId" class="card-image">
					<img src="~/img/home/@(discussion.ImageUrl ?? "default.jpg")" />
				</a>
				<div class="discussion-card">
					<a href="/Discussion/DisHome/@discussion.DiscussionId"><h3>@discussion.DiscussionName</h3></a>
					<h6>人氣: @(discussion.Views ?? 0)</h6>
				</div>
			</div>
		}
	</div>

	<div class="right-list">
		<h5>最近瀏覽看板</h5>
		<div class="viewed-list">
			<ul>
				<li><a href="">魔物獵人 系列</a></li>
				<li><a href="">寶可夢 系列</a></li>
				<li><a href="">新楓之谷</a></li>
				<li><a href="">神魔之塔</a></li>
				<li><a href="">崩壞：星穹鐵道</a></li>
			</ul>
		</div>

		<h5>最新成立看板</h5>
		<div class="viewed-list">
			<ul>
				<li><a href="">魔物獵人 系列</a></li>
				<li><a href="">寶可夢 系列</a></li>
				<li><a href="">新楓之谷</a></li>
				<li><a href="">神魔之塔</a></li>
				<li><a href="">崩壞：星穹鐵道</a></li>
			</ul>
		</div>
	</div>
</div>
