<link rel="stylesheet" href="~/css/Discussion/Index.css" asp-append-version="true" />

@{
}
@await Html.PartialAsync("_LayoutDis")

<div class="container">
    <div class="discussion-list">
        <div class="discussion-card">
            <a href="#"><img src="~/img/home/test.jpg" /></a>
            <h3>魔物獵人</h3>
            <h6>[討論] </h6>
        </div>
    </div>
</div>